.footer {
	display: flex;
	justify-content: center;
	padding: 60px 300px;
	flex-direction: column;
	color: grey;
}
.list {
	display: flex;
	justify-content: space-between;
	line-height: 2em;
}

.list li {
	color: grey;
	font-size: 13px;
}

.list ul {
	list-style-type: none;
	padding-inline-start: 0px !important;
}

.footer p {
	font-size: 13px;
	margin-top: 5px;
}

.icon {
	width: 33px;
	height: 39px;
	margin-right: 10px;
}

